.navbar {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar > img {
  padding: 0 2vw;
  max-height: 80%;
}
.navbar {
  color: black;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Unbounded", cursive;
  text-transform: uppercase;
}
.title {
  flex-grow: 10;
}
@media screen and (max-width: 717px) {
  .title {
    display: none;
  }
}
